@page
@model Exercicio.AniversarioModel
@{
    ViewData["Title"] = "Aniversario";
}

<h1>Aniversario</h1>
<p>Convite:@Model.Convite</p>
<p>Comida:@Model.Comida</p>
<p>Convidados:@Model.Convidados</p>
<p>Idade:@Model.Idade</p>
