@page
@model Exercicio.CelularModel
@{
    ViewData["Title"] = "Celular";
}

<h1>Celular</h1>
<p>Modelo:@Model.Modelo</p>
<p>Marca:@Model.Marca</p>
<p>Tamanho:@Model.Tamanho</p>
<p>Pelicula:@Model.Pelicula</p>