@page
@model Exercicio.ChuveiroModel
@{
    ViewData["Title"] = "Chuveiro";
}

<h1>Chuveiro</h1>
<p>Potencia:@Model.Potencia</p>
<p>Marca:@Model.Marca</p>
<p>Tensao:@Model.Tensao</p>
<p>Modelo:@Model.Modelo</p>

