@page
@model Exercicio.IngressoModel
@{
    ViewData["Title"] = "Ingresso";
}

<h1>Ingresso</h1>
<p>Tipo:@Model.Tipo</p>
<p>Valor:@Model.Valor</p>
<p>Cor:@Model.Cor</p>
<p>Material:@Model.Material</p>
