@page
@model Exercicio.ViagemModel
@{
    ViewData["Title"] = "Viagem";
    
}

<h1>Viagem</h1>
<p>Transporte:@Model.Transporte</p>
<p> Pesomala:@Model.Pesomala</p>
<p>Data:@Model.Data</p>
<p>Local:@Model.Local</p>


